@use "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 25px;
  background-image: url(../img/bg1.jpg);
}

.jj_head {
  font-family: 'Tangerine', cursive;
  font-size: 80px;
}

.jj_menu {
  display: flex;
  align-items: flex-end;
}

.jj_menu_item {
  font-family: 'Tangerine', cursive;
  font-size: 40px;
  vertical-align: bottom;
}

.jj_no_link {

}